/*
*
		========================================
		  2. Body
		========================================

		  Date Created: --/--/----
		  Created By:   David Benjamin Ybanez
		  Last Updated: --/--/----
		  Updated By:   David Benjamin Ybanez

*
*/

html, body {
  font-size: 15px;
  line-height: 1.5;
  height: 100%;
}